<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Event Ticket</title>
    <!-- <link rel="stylesheet" href="style.css"> -->

    <style>
        @media print {
            @page {
                size: A4 portrait;
                margin: 0;
            }
        }

        .cut-line {
            margin-top: 20px;
            border-top: 4px dotted #555;
            position: relative;
        }

        .cut-line::before,
        .cut-line::after {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            background: #f5f5f5;
            border-radius: 50%;
            top: -14px;
        }

        .cut-line::before {
            left: -12px;
        }

        .cut-line::after {
            right: -12px;
        }

        * {
            -webkit-print-color-adjust: exact !important;
            print-color-adjust: exact !important;
        }
    </style>

</head>

<body class="bg-[#efefef] p-3 font-sans sm:mt-10">

    <div class="w-full max-w-[750px]  mx-auto bg-white rounded-[20px] overflow-hidden shadow-lg">

        <!-- head title -->
        <div class="bg-[#24126A] text-white text-center py-5">
            <h1 class="text-3xl font-bold">
                <!-- JAIPUR NEET EXPO 2026 -->
                <%= userTicket.eventId.eventName %>
            </h1>
        </div>

        <!-- Detail of ticket -->
        <div class="text-center py-2 px-[10%]  text-xl font-semibold">
            <!-- Attend INDIA'S Mega Event on Rajasthan NEET UG
            Complete Counselling process & Cutoffs -->
            <%= userTicket.eventId.eventShortName %>
        </div>


        <div class="flex flex-col md:flex-row gap-2 mx-2">

            <div class="flex-1 p-2 flex flex-col justify-between">

                <div class="flex-1 py-2 border-b border-black text-xl flex items-center">
                    <p><strong>Attendee :</strong>
                        <%= userTicket.name %>
                    </p>
                </div>

                <!-- <div class="py-5 border-b border-gray-300 text-2xl">
                    <strong>Members :</strong>
                    <%= userTicket.member?.join(" , ") || "" %>
                </div> -->

                <% if (userTicket.member && userTicket.member.length> 0) { %>
                    <div class="flex-1 py-1 border-b border-black text-xl flex items-center">
                        <p><strong>Members :</strong>
                            <%= userTicket.member.join(" , ") %></p>
                    </div>
                <% } %>

                <div class=" flex-1 py-1 border-b border-black text-xl flex items-center">
                                <p><strong>Event Date :</strong>
                                    <%= eventDate %>
                                </p>
                    </div>

                    <div class="flex-1 py-1 text-xl flex items-center">
                        <p><strong>Event Time :</strong>
                            <%= userTicket.eventId.startTime %> to <%= userTicket.eventId.endTime %>
                        </p>
                    </div>

            </div>

            <div
                class="w-full max-w-[280px] mx-auto bg-white rounded-xl shadow-[0_40px_80px_rgba(0,0,0,0.15)] pb-10 relative">
                <div
                    class="w-[120px] mx-auto mt-2 mb-2 bg-[#25137b] text-white text-center px-5 py-2 rounded-b-[20px] text-xl">
                    Scan me
                </div>

                <div
                    class="w-full max-w-[200px] aspect-square mx-auto border-2 border-gray-600 rounded-[10px] flex justify-center items-center">
                    <img src="<%= qrDataURL %>" class="w-[180px] h-[180px]" />
                </div>

                <div class="text-center mt-4 text-sm text-gray-600 break-all">
                    <%= userTicket._id %>
                </div>

                <div class="cut-line"></div>

            </div>

        </div>

        <!-- Venue Section -->
        <div
            class="flex flex-col md:flex-row justify-between items-center px-5 mx-5 bg-white rounded-2xl shadow-md border-4 border-l-yellow-400">

            <div class="flex flex-col md:flex-row items-center md:items-start gap-3 flex-1">

                <img src="/images/location_Icon.png" class="w-[35px] h-[35px]">

                <div>

                    <h3 class="text-[#24126A] font-bold mb-1">
                        Venue:
                    </h3>

                    <a href="<%= userTicket.eventId.locationURL %>" class="text-[#24126A] underline text-xl">
                        <%= userTicket.eventId.venue %>
                    </a>

                </div>

            </div>

            <div class="venue-right">
                <img src="/images/hawa_mahal.webp" class="w-[170px] md:w-[220px] h-auto">
            </div>

        </div>

        <div class="w-[90%] mx-auto my-5 bg-[#24126A] text-white text-center py-3 rounded-full">
            Note : This ticket is valid for
            <%= (userTicket.member?.length || 0) + 1 %>
                members till event end.
        </div>

        <div class="text-center pb-5 mt-5 mb-10">
            <img src="/images/Neet_Logo.webp" class="w-[180px] mx-auto">
        </div>

    </div>

    <script src="https://cdn.tailwindcss.com"></script>

</body>

</html>